
.checked {
    color: orange;
}

.additional{
    height: 50px;
    width: 100px;
}
.box{
    border: 1px black solid;
    height: fit-content;
    width: fit-content;
    align-self: center;
}
